<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>블로그 읽기.</h1>
    <!-- 하나의 값만 존재 -->
    <h3><%=content.title%></h3>
    <p><%=content.content%></p>
    <button id="list">목록으로</button>
    <button id="update" data-doc="<%=content.no%>">글 수정하기</button>
    <button id="delete" data-doc="<%=content.no%>">글 삭제하기</button>
    <script src="/javascripts/list.js"></script>
</body>
</html>