<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Blog 실습</h1>
    <br><br>
    <a href="/blog/write">글쓰기</a>
    <p>글 내용들</p>
    <!-- 여러가지값을 가져온것이고. -->
    <% for(let i=0; i<content.length;i++) { %> 
        <a href="/blog/read/<%=content[i].no %>"><%=content[i].title %></a>
        <br><br>
    <% } %>
    <!-- localhost:3000/blog/write -->
    
</body>
</html>